name: dependabot-pr
on: pull_request

jobs:
  dependabot-metadata:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      dependency-names: ${{ steps.dependabot-metadata.outputs.dependency-names }}
    steps:
      - id: dependabot-metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0

  biome-update:
    needs: dependabot-metadata
    if: ${{ contains(needs.dependabot-metadata.outputs.dependency-names, 'biome') }}
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/update.yml
